<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Activio App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>071296341EC5F79F006A18F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>071296481EC5F79F006A18F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>071296531EC5F79F006A18F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0755481F1EDD8707001587F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
